@font-face
{
	src: url('../fonts/Roboto-Regular.ttf');
}

.text-info
{
	-fx-font-family: 'Roboto';
	-fx-font-size: 36px;
	-fx-font-width: 700;
}

.panel
{
    -fx-border-width: 2;
    -fx-border-color: #63443C;
    -fx-border-radius: 7;
}
